/*https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligner_des_%C3%A9l%C3%A9ments_dans_un_conteneur_flexible*/

html {
    display: flex;
    flex-direction: column;
    color: blue;
    width: 100%;
} 

body {
    padding: 0;
    margin: 0;
}

app {
    display: flex;
    flex: 1;
}

headerbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #cdcdcd;

    display: flex;
    flex-direction: row;

    height: 80px;
}

.container-start {
    display: flex;
    align-self: stretch;
    padding: 0 10px;
}

.container-middle {
    flex: 1;
}

.logo {
    align-self: center;
    padding: 10px;
}

.container-end {
    display: flex;
    align-self: stretch;
    padding: 0 10px;
}

.btn-info {
    align-self: center;
    padding: 10px;
    margin-right: 10px;
}

.btn-login {
    align-self: center;
    padding: 10px;
}

root-content {
    position: relative;
    background: yellowgreen;

    margin-top: 80px;

    display: flex;
    flex: 1;
}

start-content {
    height: 4300px;
}
